.featured-products {
  width: 100%;

  .top {
    margin-bottom: 12px;

    h1 {
      text-transform: capitalize;
      color: #3A3F71;
      font-family: 'Bricolage Grotesque', sans-serif;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
    padding: 0;
  }
}