.related-products {
  h1 {
    margin-bottom: 12px;
    font-family: 'Bricolage Grotesque', sans-serif; 
    color: #3C4073;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
    padding: 0;
  }
}